@{
    ViewBag.Title = "Đặt hàng thành công";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<p class="text-center mb-0"><h2 class="text-center">Đặt hàng thành công</h2></p><p class="text-center mb-0"><i class="fa fa-check-circle" style="font-size:72px;"></i></p>
<h3 class="text-center">Cám ơn quý khách đã mua hàng chúng tôi.</h3>
<h4 class="text-center">Chúng tôi sẽ phản hồi lại thông tin đạt hàng của quý khách và giao hàng trong thời gian sớm nhất</h4>
<h4 class="text-center">Xin cảm ơn Quý Khách!</h4>

