@model List<Models.EF.ProductCategory>
<!--left menu-->
<div class="header-left">
    <div class="dropdown category-dropdown show is-on" data-visible="true">
        <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" data-display="static" title="Danh mục">
            DANH MỤC SẢM PHẨM
        </a>

        <div class="dropdown-menu show">
            <nav class="side-nav">
                <ul class="menu-vertical sf-arrows">
                    @foreach (var item in Model.Where(x => x.ParentID == null))
                    {
                        <li class="megamenu-container">
                            <a class="sf-with-ul" href="#">@item.Name</a>
                            @if (Model.Where(x => x.ParentID == item.ID).Count() > 0)
                            {
                                <div class="megamenu">
                                    <div class="row no-gutters">
                                        <div class="col-md-12">
                                            <div class="menu-col">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <ul>
                                                            @foreach (var childItem in Model.Where(x => x.ParentID == item.ID))
                                                            {
                                                                <li><a href="/san-pham/@childItem.MetaTitle-@childItem.ID">@childItem.Name</a></li>
                                                            }
                                                        </ul>
                                                    </div><!-- End .col-md-6 -->
                                                </div><!-- End .row -->
                                            </div><!-- End .menu-col -->
                                        </div><!-- End .col-md-8 -->
                                    </div><!-- End .row -->
                                </div><!-- End .megamenu -->
                            }
                        </li>
                    }
                </ul><!-- End .menu-vertical -->
            </nav><!-- End .side-nav -->
        </div><!-- End .dropdown-menu -->
    </div><!-- End .category-dropdown -->
</div>
<!--End left menu-->
<!--main menu-->
<div class="" style="width:1000px !important">
    <nav class="main-nav">
        <ul class="menu sf-arrows">
            <li>
                <a href="#" class="sf-with-ul">Sản phẩm</a>

                <div class="megamenu megamenu-md">
                    <div class="row no-gutters">
                        @{
                            int count = Model.Count();
                        }
                        <div class="col-md-12">
                            <div class="menu-col">
                                <div class="row">
                                    @{
                                        for (int i = 0; i <= count; i += 10)
                                        {
                                            var listBlock = Model.Skip(i).Take(10).ToList();
                                            <div class="col-md-4">
                                                @foreach (var itemShop in listBlock)
                                                {

                                                    if (itemShop.ParentID == null)
                                                    {
                                                        <div class="menu-title"><a href="#">@itemShop.Name</a></div><!-- End .menu-title -->

                                                    }
                                                    <ul>
                                                        @if (itemShop.ParentID != null)
                                                        {
                                                            <li><a href="/san-pham/@itemShop.MetaTitle-@itemShop.ID">@itemShop.Name</a></li>
                                                        }
                                                    </ul>

                                                }
                                            </div><!-- End .col-md-6 -->
                                        }
                                    }
                                </div><!-- End .row -->
                            </div><!-- End .menu-col -->
                        </div><!-- End .col-md-8 -->
                    </div><!-- End .row -->
                </div><!-- End .megamenu megamenu-md -->
            </li>
            <li>
                <a href="#" class="sf-with-ul">Dịch vụ</a>

                <div class="megamenu megamenu-sm">
                    <div class="row no-gutters">
                        <div class="col-md-6">
                            <div class="menu-col">
                                <div class="menu-title">Dịch vụ thuê máy</div><!-- End .menu-title -->
                                <ul>
                                    <li><a href="product.html">Thuê máy in</a></li>
                                    <li><a href="product-centered.html">Thuê máy photocopy</a></li>
                                </ul>
                                <div class="menu-title">Dịch vụ photo, in ấn</div><!-- End .menu-title -->
                                <ul>
                                    <li><a href="product.html">In văn bản</a></li>
                                    <li><a href="product-centered.html">In văn bản màu</a></li>
                                    <li><a href="product-gallery.html">Photocopy tài liệu</a></li>
                                </ul>
                            </div><!-- End .menu-col -->
                        </div><!-- End .col-md-6 -->
                    </div><!-- End .row -->
                </div><!-- End .megamenu megamenu-sm -->
            </li>
            <li>
                <a href="/gioi-thieu">Giới thiệu</a>
            </li>
            <li>
                <a href="#">Liên hệ</a>
            </li>

            <li>
                <a href="#">Khuyến mãi</a>
            </li>
            <li>
                <a href="#">Bảng giá</a>
            </li>
        </ul><!-- End .menu -->
    </nav><!-- End .main-nav -->
</div>
<!--end main menu-->