@model List<Models.EF.ProductCategory>
@{
    var newsCategory = (List<Models.EF.NewsCategory>)ViewBag.NewsCategoryList;
}
<nav class="main-nav">
    <ul class="menu sf-arrows">
        <li>
            <a href="#" class="sf-with-ul">Sản phẩm</a>

            <div class="megamenu megamenu-md">
                <div class="row no-gutters">
                    @{
                        int count = Model.Count();
                    }
                    <div class="col-md-12">
                        <div class="menu-col">
                            <div class="row">
                                @{
                                    for (int i = 0; i <= count; i += 10)
                                    {
                                        var listBlock = Model.Skip(i).Take(10).ToList();
                                        <div class="col-md-4">
                                            @foreach (var itemShop in listBlock)
                                            {

                                                if (itemShop.ParentID == null)
                                                {
                                                    <div class="menu-title"><a href="#">@itemShop.Name</a></div><!-- End .menu-title -->

                                                }
                                                <ul>
                                                    @if (itemShop.ParentID != null)
                                                    {
                                                        <li><a href="/san-pham/@itemShop.MetaTitle-@itemShop.ID">@itemShop.Name</a></li>
                                                    }
                                                </ul>

                                            }
                                        </div><!-- End .col-md-6 -->
                                    }
                                }
                            </div><!-- End .row -->
                        </div><!-- End .menu-col -->
                    </div><!-- End .col-md-8 -->
                </div><!-- End .row -->
            </div><!-- End .megamenu megamenu-md -->
        </li>
        <li>
            <a href="/bai-viet" class="sf-with-ul">Dịch vụ &amp; Bài viết</a>

            <div class="megamenu megamenu-sm">
                <div class="row no-gutters">
                    <div class="col-md-12">
                        <div class="menu-col">
                            @foreach (var item in newsCategory)
                            {
                                if (item.ParentID == null)
                                {
                                    <div class="menu-title"><a href="/bai-viet/@item.MetaTitle-@item.ID">@item.Name</a></div><!-- End .menu-title -->
                                }
                                else
                                {
                                    <ul>
                                        <li><a href="/bai-viet/@item.MetaTitle-@item.ID">@item.Name</a></li>
                                    </ul>
                                }

                            }
                        </div><!-- End .menu-col -->
                    </div><!-- End .col-md-6 -->
                </div><!-- End .row -->
            </div><!-- End .megamenu megamenu-sm -->
        </li>
        <li>
            <a href="/gioi-thieu">Giới thiệu</a>
        </li>
        <li>
            <a href="/lien-he">Liên hệ</a>
        </li>

        <li>
            <a href="/khuyen-mai">Khuyến mãi</a>
        </li>
        <li>
            <a href="/bang-gia">Bảng giá</a>
        </li>
    </ul><!-- End .menu -->
</nav>