@model Models.EF.About
@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
    ViewBag.Title = "Giới thiệu";
}
<nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
    <div class="container d-flex align-items-center">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
            <li class="breadcrumb-item active" aria-current="page">Giới thiệu</li>
        </ol>
    </div><!-- End .container -->
</nav><!-- End .breadcrumb-nav -->
<div class="page-content pb-0">
    <div class="container">
        <div class="row">
            @Html.Raw(Model.Detail)
        </div><!-- End .row -->

        <div class="mb-5"></div><!-- End .mb-4 -->
    </div><!-- End .container -->
</div>