@*@model Models.EF.Contact*@
@{
    ViewBag.Title = "Liên hệ";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
    <div class="container d-flex align-items-center">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
            <li class="breadcrumb-item active" aria-current="page">Liên hệ &amp;Phản hồi</li>
        </ol>
    </div><!-- End .container -->
</nav><!-- End .breadcrumb-nav -->
<div class="page-content pb-0">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mb-2 mb-lg-0">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12840.725604370227!2d105.09302141983892!3d9.980978281645243!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31a0b465ff31914b%3A0x920b828205fff9c4!2zNzQ0IMSQxrDhu51uZyAzIFRow6FuZyAyLCBWxKluaCBM4bqhYywgUuG6oWNoIEdpw6EsIHThu4luaCBLacOqbiBHaWFuZywgVmnhu4d0IE5hbQ!5e0!3m2!1svi!2s!4v1611383968857!5m2!1svi!2s" width="550" height="350" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                <div class="row">
                    <div class="col-sm-7">
                        <div class="contact-info">
                            <h3>Liên hệ</h3>

                            <ul class="contact-list">
                                <li>
                                    <i class="icon-map-marker"></i>
                                    Số 744 đường 3/2, Phường Vĩnh Lạc - Thành phố Rạch Giá - Kiên Giang
                                </li>
                                <li>
                                    <i class="icon-phone"></i>
                                    <a href="tel:0908455888">0908 455 888</a>
                                </li>
                                <li>
                                    <i class="icon-envelope"></i>
                                    <a href="mailto:#">nghinhu.vn@gmail.com</a>
                                </li>
                            </ul><!-- End .contact-list -->
                        </div><!-- End .contact-info -->
                    </div><!-- End .col-sm-7 -->

                    <div class="col-sm-5">
                        <div class="contact-info">
                            <h3>Thời gian làm việc</h3>

                            <ul class="contact-list">
                                <li>
                                    <i class="icon-clock-o"></i>
                                    <span class="text-dark">Thứ 2 - Thứ 6</span><br>Sáng: 07h-11h <br />Chiều: 13h-17h
                                </li>
                                <li>
                                    <i class="icon-calendar"></i>
                                    <span class="text-dark">Thứ 7</span> <br>7h-11h
                                </li>
                            </ul><!-- End .contact-list -->
                        </div><!-- End .contact-info -->
                    </div><!-- End .col-sm-5 -->
                </div><!-- End .row -->
            </div><!-- End .col-lg-6 -->
            <div class="col-lg-6">
                <h2 class="title mb-1">Phản hồi?</h2><!-- End .title mb-2 -->
                <p class="mb-2">Gửi câu hỏi, phản hồi hoặc bất cứ đều gì bạn muốn</p>

                <form id="feedback" action="/phan-hoi" method="post" class="contact-form mb-3">
                    <div class="row">
                        <div class="col-sm-6">
                            <label for="name" class="sr-only">Họ tên</label>
                            <input type="text" class="form-control" id="name" name="name" placeholder="Họ tên *" required>
                        </div><!-- End .col-sm-6 -->

                        <div class="col-sm-6">
                            <label for="email" class="sr-only">Email</label>
                            <input type="email" class="form-control" id="email" name="email" placeholder="Email *" required>
                        </div><!-- End .col-sm-6 -->
                    </div><!-- End .row -->

                    <div class="row">
                        <div class="col-sm-6">
                            <label for="phone" class="sr-only">Phone</label>
                            <input type="tel" class="form-control" id="phone" placeholder="Số điện thoại">
                        </div><!-- End .col-sm-6 -->

                        <div class="col-sm-6">
                            <label for="title" class="sr-only">Chủ đề</label>
                            <input type="text" class="form-control" id="title" placeholder="Chủ đề">
                        </div><!-- End .col-sm-6 -->
                    </div><!-- End .row -->

                    <label for="message" class="sr-only">Nội dung</label>
                    <textarea class="form-control" cols="30" rows="10" id="message" name="message" required placeholder="Nội dung *"></textarea>
                    <hr />
                    <button id="submit" type="button" class="btn btn-outline-primary-2 btn-minwidth-sm">
                        <span>GỬI</span>
                        <i class="icon-long-arrow-right"></i>
                    </button>
                    <label id="info" class="pull-right"></label>
                </form><!-- End .contact-form -->
            </div><!-- End .col-lg-6 -->
        </div><!-- End .row -->
        <hr class="mt-4 mb-5">
    </div>
</div><!-- End .page-content -->
<!-- Contact Main Page Area End Here -->
@section script{
    <script src="~/Asset/Client/assets/js/controller/SendFeedback.js"></script>
}