@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Quên mật khẩu";
}
<div class="breadcrumb-area">
    <div class="container">
        <div class="breadcrumb-content">
            <ul>
                <li><a href="/">Trang chủ</a></li>
                <li class="active">Quên mật khẩu</li>
            </ul>
        </div>
    </div>
</div>
<!-- Li's Breadcrumb Area End Here -->
<!-- Begin Login Content Area -->
<div class="page-section mb-60">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12 mb-30">
                <!-- Login Form s-->
                <form action="/quen-mat-khau" method="post">
                    <div class="login-form">
                        <div class="row">
                            <div class="col-md-12 col-12 mb-20">
                                @Html.Raw(ViewBag.Info)
                            </div>
                            <div class="col-md-12 col-12 mb-20">
                                <label>Nhập địa chỉ email của bạn đã đăng ký, chúng tôi sẽ gửi lại mật khẩu mới cho bạn!</label>
                                <input type="email" placeholder="Nhập email khôi phục" name="email" />
                            </div>

                            <div class="col-md-12">
                                <button class="register-button mt-0" type="submit">Gửi</button>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
<!-- Login Content Area End Here -->
