@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
    ViewBag.Title = "Quên mật khẩu";
}
<style type="text/css">
    label.error {
        float: none;
        color: red;
        display: block;
    }
</style>
<div class="page-header text-left" style="background-image: url('/Asset/Client/assets/images/page-header-bg.jpg')">
    <div class="container">
        <h1 class="page-title">QUÊN MẬT KHẨU</h1>
    </div><!-- End .container -->
</div><!-- End .page-header -->
<nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
    <div class="container d-flex align-items-center">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
            <li class="breadcrumb-item active" aria-current="page">Quên mật khẩu</li>
        </ol>
    </div><!-- End .container -->
</nav><!-- End .breadcrumb-nav -->
<div class="page-content pb-0">
    <div class="container">
        <div class="cta cta-horizontal cta-horizontal-box bg-image mb-5" style="background-image: url(/Asset/Client/assets/images/backgrounds/cta/bg-1.jpg); background-position: center right;">
            <div class="row align-items-center">
                <div class="col-lg-4 col-xl-3 offset-xl-1">
                    <h3 class="cta-title">Nhập email của bạn</h3><!-- End .cta-title -->
                    <p class="cta-desc">Chúng tôi sẽ gửi mật khẩu mới cho bạn.</p><!-- End .cta-desc -->
                </div><!-- End .col-xl-3 -->

                <div class="col-lg-8 col-xl-7">
                    <form id="frmForgetPassword" action="/quen-mat-khau" method="post">
                        <div class="input-group">
                            <div class="input-group-append">
                                <button id="forgetPassword" class="btn btn-primary btn-rounded" style="height:46px" type="button"><span>Xác nhận</span><i class="icon-long-arrow-right"></i></button>
                            </div><!-- .End .input-group-append -->
                            <input type="email" id="txtEmailForget" name="txtEmailForget" class="form-control" placeholder="Email của bạn" aria-label="Email Adress" required="">
                        </div><!-- .End .input-group -->
                    </form>
                    <div id="infoForgetPassword"></div>
                </div><!-- End .col-xl-7 -->
            </div><!-- End .row -->
        </div><!-- End .cta -->
    </div><!-- End .container -->
</div>