<footer class="footer footer-2">
    <div class="icon-boxes-container">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-lg-3">
                    <div class="icon-box icon-box-side">
                        <span class="icon-box-icon">
                            <i class="icon-rocket"></i>
                        </span>

                        <div class="icon-box-content">
                            <h3 class="icon-box-title">Giao hàng tận nơi</h3><!-- End .icon-box-title -->
                            <p>Giao tận nơi cho khách hàng</p>
                        </div><!-- End .icon-box-content -->
                    </div><!-- End .icon-box -->
                </div><!-- End .col-sm-6 col-lg-3 -->

                <div class="col-sm-6 col-lg-3">
                    <div class="icon-box icon-box-side">
                        <span class="icon-box-icon">
                            <i class="icon-rotate-left"></i>
                        </span>

                        <div class="icon-box-content">
                            <h3 class="icon-box-title">Miễn phí lắp đặt</h3><!-- End .icon-box-title -->
                            <p>Bao gồm các máy văn phòng</p>
                        </div><!-- End .icon-box-content -->
                    </div><!-- End .icon-box -->
                </div><!-- End .col-sm-6 col-lg-3 -->

                <div class="col-sm-6 col-lg-3">
                    <div class="icon-box icon-box-side">
                        <span class="icon-box-icon">
                            <i class="icon-info-circle"></i>
                        </span>

                        <div class="icon-box-content">
                            <h3 class="icon-box-title">Thanh toán linh hoạt</h3><!-- End .icon-box-title -->
                            <p>Tiền mặt/chuyển khoản</p>
                        </div><!-- End .icon-box-content -->
                    </div><!-- End .icon-box -->
                </div><!-- End .col-sm-6 col-lg-3 -->

                <div class="col-sm-6 col-lg-3">
                    <div class="icon-box icon-box-side">
                        <span class="icon-box-icon">
                            <i class="icon-life-ring"></i>
                        </span>

                        <div class="icon-box-content">
                            <h3 class="icon-box-title">Hỗ trợ online</h3><!-- End .icon-box-title -->
                            <p>Hỗ trợ qua Teamview, UltraView</p>
                        </div><!-- End .icon-box-content -->
                    </div><!-- End .icon-box -->
                </div><!-- End .col-sm-6 col-lg-3 -->
            </div><!-- End .row -->
        </div><!-- End .container -->
    </div><!-- End .icon-boxes-container -->

    <div class="footer-middle border-0">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-lg-6">
                    <div class="widget widget-about">
                        @*<img src="~/Asset/Client/resource/logo-nghi-nhu.png" class="footer-logo float-left" alt="Footer Logo" width="200">*@
                        <p>
                            Với phương châm “ Chất lượng phục vụ mang lại hiệu quả”, chúng tôi cam kết cung cấp đến Quý khách hàng những sản phẩm - dịch vụ chất lượng - hiệu quả.
                            Rất mong nhận được sự hợp tác cùng Quý Khách Hàng!
                        </p>

                        <div class="widget-about-info">
                            <div class="row">
                                <div class="col-sm-6 col-md-4">
                                    <img src="~/Asset/Client/resource/logo-nghi-nhu.png" style="width:129px;height:47px" />
                                </div>
                                <div class="col-sm-6 col-md-4">
                                    <span class="widget-about-title">Hotline</span>
                                    <a href="tel:0908455888" style="color:red">0908 455 888</a>
                                </div><!-- End .col-sm-6 -->
                                <div class="col-sm-6 col-md-4">
                                    <span class="widget-about-title">Hỗ trợ khách hàng</span>
                                    <a href="tel:0934357111">0934 357 111</a>
                                </div><!-- End .col-sm-6 -->
                                <hr />
                                <div class="col-sm-6 col-md-12">
                                    <p>Email: nghinhu.vn@gmail.com</p>
                                    <p>MST: @ViewBag.Info.Tax</p>
                                    <p>Địa chỉ: @ViewBag.Info.Address</p>
                                </div><!-- End .col-sm-6 -->
                            </div><!-- End .row -->
                        </div><!-- End .widget-about-info -->
                    </div><!-- End .widget about-widget -->
                </div><!-- End .col-sm-12 col-lg-3 -->

                <div class="col-sm-4 col-lg-2">
                    <div class="widget">
                        <h4 class="widget-title">Thông tin</h4><!-- End .widget-title -->

                        <ul class="widget-list">
                            <li><a href="#">Giới thiệu</a></li>
                            <li><a href="#">Làm sao để mua hàng</a></li>
                            <li><a href="#">Câu hỏi thường gặp</a></li>
                            <li><a href="#">Liên hệ với chúng tôi</a></li>
                            <li><a href="#">Thông tin tài khoản</a></li>
                        </ul><!-- End .widget-list -->
                    </div><!-- End .widget -->
                </div><!-- End .col-sm-4 col-lg-3 -->

                <div class="col-sm-4 col-lg-2">
                    <div class="widget">
                        <h4 class="widget-title">Chăm sóc khách hàng</h4><!-- End .widget-title -->

                        <ul class="widget-list">
                            <li><a href="#">Phương thức thanh toán</a></li>
                            <li><a href="#">Dùng thử sản phẩm</a></li>
                            <li><a href="#">Giao hàng tận nơi</a></li>
                            <li><a href="#">Chính sách bảo hành</a></li>
                        </ul><!-- End .widget-list -->
                    </div><!-- End .widget -->
                </div><!-- End .col-sm-4 col-lg-3 -->

                <div class="col-sm-4 col-lg-2">
                    <div class="widget">
                        <h4 class="widget-title">Tài khoản</h4><!-- End .widget-title -->

                        <ul class="widget-list">
                            <li><a href="#">Đăng nhập</a></li>
                            <li><a href="#">Giỏ hàng</a></li>
                            <li><a href="#">Theo dõi đơn hàng</a></li>
                        </ul><!-- End .widget-list -->
                    </div><!-- End .widget -->
                </div><!-- End .col-sm-64 col-lg-3 -->
            </div><!-- End .row -->
        </div><!-- End .container -->
    </div><!-- End .footer-middle -->

    <div class="footer-bottom">
        <div class="container">
            <p class="footer-copyright">Copyright © 2020 NghiNhuComputer. Site created by Lê Hoàng Khiêm.</p><!-- End .footer-copyright -->

            <div class="social-icons social-icons-color">
                <span class="social-label">Mạng xã hội:</span>
                <a href="#" class="social-icon social-facebook" title="Facebook" target="_blank"><i class="icon-facebook-f"></i></a>
                <a href="#" class="social-icon social-twitter" title="Twitter" target="_blank"><i class="icon-twitter"></i></a>
                <a href="#" class="social-icon social-instagram" title="Instagram" target="_blank"><i class="icon-instagram"></i></a>
                <a href="#" class="social-icon social-youtube" title="Youtube" target="_blank"><i class="icon-youtube"></i></a>
                <a href="#" class="social-icon social-pinterest" title="Pinterest" target="_blank"><i class="icon-pinterest"></i></a>
            </div><!-- End .soial-icons -->
        </div><!-- End .container -->
    </div><!-- End .footer-bottom -->
</footer>