@using Common;
<header class="header">
    <div class="header-top">
        <div class="container">
            <div class="header-left">
                <a href="tel:#"><i class="icon-phone"></i>Hotline: <b>@ViewBag.Info.Phone</b></a>
                @*<span style="margin-left:10px">&oplus;@ViewBag.Info.Address</span>*@
            </div><!-- End .header-left -->

            <div id="account" class="header-right" style="height:40px">
                @{
                    var account = (UserLoginSession)Session[ConstantSession.USER_CLIENT_SESSION];
                }
                @if (account == null)
                {
                    <a href="#signin-modal" data-toggle="modal">Đăng nhập</a>
                }
                else
                {
                    <a href="/tai-khoan">Xin chào: @account.Name |</a>
                    <a href="/dang-xuat"> Đăng xuất</a>
                }
            </div><!-- End .header-right -->
        </div><!-- End .container -->
    </div><!-- End .header-top -->

    <div class="header-middle sticky-header">
        <div class="container">
            <div class="header-left">
                <button class="mobile-menu-toggler">
                    <span class="sr-only">Mobile menu</span>
                    <i class="icon-bars"></i>
                </button>

                <a href="/" class="logo">
                    <img src="~/Asset/Client/resource/logo-nghi-nhu.png" alt="Nghi Nhu" width="150" height="40">
                </a>
                @{Html.RenderAction("Menu2", "BaseClient");}
                <!-- End .main-nav -->
            </div><!-- End .header-left -->

            <div class="header-right">
                <div class="header-search">

                    <form id="formSearch" action="/tim-kiem/" method="get">
                        <a href="#" class="search-toggle" role="button" title="Tìm kiếm"><i class="icon-search"></i></a>
                        <div class="header-search-wrapper">
                            <label for="keyword" class="sr-only">Go</label>
                            <input id="serach" type="search" class="form-control" id="txtKeyword" name="keyword" placeholder="Bạn tìm gì..." required>
                        </div><!-- End .header-search-wrapper -->
                    </form>
                </div><!-- End .header-search -->

                @{Html.RenderAction("Cart", "BaseClient");}
            </div><!-- End .header-right -->
        </div><!-- End .container -->
    </div><!-- End .header-middle -->
</header><!-- End .header -->