@using Common;
<header class="header header-10 header-intro-clearance">
    <div class="header-top">
        <div class="container">
            <div class="header-left">
                <a href="tel:#"><i class="icon-phone"></i>Hotline: <b>@ViewBag.Info.Phone</b></a>
                @*<span style="margin-left:10px">&oplus;@ViewBag.Info.Address</span>*@
            </div><!-- End .header-left -->

            <div id="account" class="header-right" style="height:40px">
                @{
                    var account = (UserLoginSession)Session[ConstantSession.USER_CLIENT_SESSION];
                }
                @if (account == null)
                {
                    <a href="#signin-modal" data-toggle="modal">Đăng nhập</a>
                }
                else
                {
                    <a href="/tai-khoan">Xin chào: @account.Name |</a>
                    <a href="/dang-xuat"> Đăng xuất</a>
                }
            </div><!-- End .header-right -->
        </div><!-- End .container -->
    </div><!-- End .header-top -->

    <div class="header-middle">
        <div class="container">
            <div class="header-left">
                <button class="mobile-menu-toggler">
                    <span class="sr-only">Toggle mobile menu</span>
                    <i class="icon-bars"></i>
                </button>

                <a href="/" class="logo">
                    <img src="~/Asset/Client/resource/logo-nghi-nhu.png" alt="Nghi nhu" width="200" height="40">
                </a>
            </div><!-- End .header-left -->

            <div class="header-center">
                <div class="header-search header-search-extended header-search-visible header-search-no-radius d-none d-lg-block">
                    <a href="#" class="search-toggle" role="button"><i class="icon-search"></i></a>
                    <form action="/tim-kiem/" method="get">
                        <div class="header-search-wrapper search-wrapper-wide">

                            <label for="keyword" class="sr-only">Go</label>
                            <input type="search" class="form-control" id="txtKeyword" name="keyword" placeholder="Nhập thông tin cần tìm ..." required>
                            <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
                        </div><!-- End .header-search-wrapper -->
                    </form>
                </div><!-- End .header-search -->
            </div>
            <div class="header-right">
                <div class="header-dropdown-link">
                    @{Html.RenderAction("Cart", "BaseClient");}
                </div>
            </div><!-- End .header-right -->
        </div><!-- End .container -->
    </div><!-- End .header-middle -->

    <div class="header-bottom sticky-header">
        <div class="container">
            <!-- End .col-lg-3 -->
            <!--Menu-->
            @{Html.RenderAction("Menu", "BaseClient");}
            <!--End Menu -->
        </div><!-- End .container -->
    </div><!-- End .header-bottom -->
</header>