@{
    ViewBag.Title = "Sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
@section JsFooter
{
    <script src="~/Asset/Admin/Js/controller/ProductController.js"></script>
}

@section headertitle{Danh sách sản phẩm}@section headermenuroot{Sản phẩm}@section headermenusub{Danh sách}
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <div class="row">
                        <div class="col-sm-2">
                            <a href="@Url.Action("Create")" id="btnAddNew" class="btn btn-default btn-sm">
                                <i class="fa fa-plus"></i>
                                Tạo mới
                            </a>
                            <a href="@Url.Action("Index")" id="btnReset" class="btn btn-danger btn-sm">
                                <i class="fa fa-refresh"></i>
                                Tải lại
                            </a>
                        </div>
                        <div class="col-sm-3">
                            <div class="input-group">
                                <span class="input-group-addon">Tìm theo</span>
                                <select class="form-control input-sm" id="sltTypeSearch" name="typeSearch">
                                    <option value="0">Tất cả</option>
                                    <option value="1">Tên</option>
                                    <option value="2">Danh mục</option>
                                    <option value="3">Đơn vị</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="input-group input-group-sm">
                                <input id="txtKeyword" value="" name="keyword" class="form-control input-sm" placeholder="Nhập từ khóa tìm kiếm" />
                                <span class="input-group-btn">
                                    <button id="btnSearch" type="submit" class="btn btn-info btn-flat"><i class="fa fa-search"></i></button>
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-1">
                            <div class="form-group-sm" style="margin-top:8px">
                                <input id="ckStatus" type="checkbox" class="flat-red" checked>Active
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="input-group input-group-sm">
                                <select id="sltPageSize" class="form-control" name="PageSize">
                                    @for (int i = 10; i <= 100; i += 5)
                                    {
                                        <option value="@i">@i</option>
                                    }
                                </select>
                                <span class="input-group-btn">
                                    <label class="btn">dòng/trang</label>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-body">
                    <table id="table" class="table table-bordered table-hover table-condensed">
                        <thead>
                            <tr>
                                <th><span style="margin-left:5px">#</span></th>
                                <th class="length-name-intable">Tên SP</th>
                                <th>Hình ảnh</th>
                                <th>Danh mục</th>
                                <th>Thương hiệu</th>
                                <th>Đơn vị</th>
                                <th>Giá</th>
                                <th>Ngày tạo</th>
                                <th>Người tạo</th>
                                <th>Kích hoạt</th>
                            </tr>
                        </thead>
                        <tbody id="tblData"></tbody>
                    </table>
                    <div class="row">
                        <div class="col-md-3">
                            <label id="status" style="margin-left:5px;" class="text-gray label label-success">Normal</label>
                        </div>
                        <div class="col-md-3">
                        </div>
                        <div class="col-md-3">
                        </div>
                        <div class="col-md-3">
                            <p id="lbTotal" class="text-right text-bold text-blue"></p>
                        </div>
                    </div>
                    <div id="pagination" class="pagination pull-left">
                    </div>
                    <script id="data-template" type="x-tmpl-mustache">
                        <tr>
                            <td style="width:120px">
                                <a href="Product/Copy/{{ID}}" class="label label-success btn-copy" data-id="{{ID}}"><i class="fa fa-copy"></i></a>
                                <a href="Product/Edit/{{ID}}" class="label label-primary btn-edit" data-id="{{ID}}"><i class="fa fa-edit"></i></a>
                                <a class="label label-danger btn-delete" data-id="{{ID}}"><i class="fa fa-remove"></i></a>
                                <a href="#" data-id="{{ID}}" class="label label-info btn-option"><i class="fa fa-qrcode"></i></a>
                            </td>
                            <td>{{Name}}</td>
                            <td>
                                <img src="{{Image}}" style="max-height:35px" />
                                <a href="#" data-id="{{ID}}" class="btn-images"><i class="fa fa-fw fa-plus"></i></a>
                            </td>
                            <td>{{ProductCategoryName}}</td>
                            <td>{{BrandName}}</td>
                            <td>{{UnitName}}</td>
                            <td>
                                {{Price}}
                            </td>
                            <td>{{CreateDate}}</td>
                            <td>{{CreateBy}}</td>
                            <td>{{{Status}}}</td>
                        </tr>
                    </script>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div id="imageManage" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Quản lý ảnh(300x300px)</h4>
                </div>
                <div class="modal-body">
                    <div id="imageList">
                    </div>
                    <div class="clear"></div>
                    <input type="button" id="btnChooseImages" value="Chọn ảnh" class="btn btn-primary" />
                    <input type="hidden" id="hidProductID" value="0" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" id="btnSaveImages">Save</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="modal fade" id="modalOption" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Tùy chọn</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="input-group" style="width:100%">
                            <select id="option" class="form-control">
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="input-group">
                            <input id="optionPrice" type="text" class="form-control" placeholder="Giá? (vnđ)" value="0">
                            <div class="input-group-btn">
                                <a id="btnOptionAdd" href="#" class="btn bg-olive btn-flat">+</a>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                <ul id="optionList">
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>