@{
    ViewBag.Title = "Lỗi truy cập";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
@section headertitle{Lỗi truy cập}@section headermenuroot{}@section headermenusub{Lỗi}
    <div class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-danger">
                    Bạn không có quyền truy cập trang này!
                </div>
            </div>
        </div>
    </div>
